@model List<SignalR.WebUI.DTOs.FeatureDtos.ResultFeatureDto>

@{
    ViewData["Title"] = "Öne Çıkanlar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid">
    <h4 class="page-title">Öne Çıkan Modülü</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        Öne Çıkanlar Listesi
                        <a href="/Feature/CreateFeature/" class="btn btn-success btn-sm float-right" title="Sil"> <i class="fa-sharp fa-solid fa-plus"></i>  Yeni</a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-head-bg-primary mt-4 table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Resim</th>
                                <th scope="col">Açıklama 1</th>
                                <th scope="col">Açıklama 2</th>
                                <th scope="col">Açıklama 3</th>
                                <th scope="col">Başlık 1</th>
                                <th scope="col">Başlık 2</th>
                                <th scope="col">Başlık 3</th>
                                <th width="8%" scope="col">Seçenekler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.FeatureID</td>
                                    <td>@item.ImageURL</td>
                                    <th>@item.Description1</th>
                                    <td>@item.Description2"</td>
                                    <td>@item.Description3</td>
                                    <td>@item.Title1</td>
                                    <td>@item.Title2</td>
                                    <td>@item.Title3</td>
                                    <td>
                                        <a href="/Feature/UpdateFeature/@item.FeatureID"
                                           class="btn btn-warning btn-sm" title="Düzenle">
                                            <i class="fa-solid fa-pen"></i>
                                        </a>
                                         
                                        <a href="/Feature/DeleteFeature/@item.FeatureID"
                                           class="btn btn-danger btn-sm" title="Sil">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>